<div class="my-5 flex items-center justify-center z-10">
  <div class="max-w-xl px-8 md:px-12 lg:px-20 py-12 flex flex-col items-center gap-8 w-full bg-surface-0 dark:backdrop-blur-2xl rounded-2xl dark:bg-white/10 border border-surface dark:border-white/10">
    <div class="flex flex-col items-center gap-4 w-full">
      <img src="logo.png" class="w-25" alt="">
      <div class="flex flex-col gap-2 w-full">
        <div class="text-center text-3xl font-medium text-surface-950 dark:text-surface-0 leading-tight">Welcome Back</div>
        <p class="text-surface-400 dark:text-surface-300 text-sm text-center">Admin access only. Please log in to continue.</p>
      </div>
    </div>
    <div class="flex flex-col items-center gap-8 w-full">
      <div class="flex flex-col w-full">
        @if (errors().length) {
          <div class="mb-3">
            @for (error of errors(); track $index) {
              <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-2">{{ error }}</p-message>
            }
          </div>
        }
        <p-iconfield icon-position="left" class="mb-4">
          <p-inputicon class="pi pi-user dark:text-white/70!"></p-inputicon>
          <input [(ngModel)]="user.email" pInputText type="email" placeholder="email" class="appearance-none! border! dark:border-white/10! w-full! outline-0! dark:bg-white/10! dark:text-white! placeholder:text-surface-400! dark:placeholder:text-white/70! rounded-3xl! shadow-sm!" />
        </p-iconfield>
        <p-iconfield icon-position="left">
          <p-inputicon class="pi pi-lock dark:text-white/70!"></p-inputicon>
          <input [(ngModel)]="user.password" pInputText type="password" class="appearance-none! border! dark:border-white/10! w-full! outline-0! dark:bg-white/10! dark:text-white! placeholder:text-surface-400! dark:placeholder:text-white/70! rounded-3xl! shadow-sm!" placeholder="Password" />
        </p-iconfield>
      </div>
      <p-button (onClick)="onSubmit()" label="Sign in" [rounded]="true" styleClass="w-full" class="w-full"/>
    </div>
  </div>
</div>
