@import "tailwindcss";
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *)); 

.p-datatable-mask {
  @apply backdrop-blur-sm! bg-surface-0/20! dark:bg-surface-900/20!;
}

.p-datatable-loading-icon {
  @apply text-primary!;
}
